In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
import pickle
import numpy as np

# Create a sample dataset
data = {'A': [1, 2, np.nan, 4, 5],
        'B': [6, np.nan, 8, 9, 10],
        'C': [11, 12, 13, np.nan, 15]}
df = pd.DataFrame(data)

# Create an instance of SimpleImputer
imputer = SimpleImputer(strategy='mean')

# Fit the imputer to the dataset
imputer.fit(df)

# Impute missing values in the dataset
df[:] = imputer.transform(df)

# Save the imputer using pickle
with open('imputer.sav', 'wb') as f:
    pickle.dump(imputer, f)

# Load the imputer from pickle
with open('imputer.sav', 'rb') as f:
    loaded_imputer = pickle.load(f)

# Impute missing values in a new dataset using the loaded imputer
new_data = {'A': [np.nan, 2, 3, 4, np.nan],
            'B': [6, 7, np.nan, 9, 10],
            'C': [11, np.nan, 13, 14, 15]}
new_df = pd.DataFrame(new_data)

new_df[:] = loaded_imputer.transform(new_df)

In [2]:
df

     A      B      C
0  1.0   6.00  11.00
1  2.0   8.25  12.00
2  3.0   8.00  13.00
3  4.0   9.00  12.75
4  5.0  10.00  15.00

In [3]:
new_df

     A      B      C
0  3.0   6.00  11.00
1  2.0   7.00  12.75
2  3.0   8.25  13.00
3  4.0   9.00  14.00
4  3.0  10.00  15.00